*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 30px;
    margin-bottom: 100px;
}

.orange_txt{
    color:orange;
}

.display_flex{
    display:flex;
}

.half_width{
    width: 50%;
}
.half_width img{
    width: 70%;
}
.half_width02{
    width: 50%;

}
.half_width02 img{
    width: 40%;
    
}



body h1{
    font-size: 50px;
}

.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(252, 89, 19));
    padding: 10px 40px;
    border-radius: 25px;
    color: white;
    margin-top: 2000px;
}

#about_me_bannar{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover ;
    }



.width_30percent{
    width: 30%;
}
.width_30percent img{
    width:60%;
}

.width_30percent2{
    width: 33%;
    
}

footer{
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 25px;
}

#gray_txt{
    color: gray;
}

.text_align_center{
    text-align: center;
}

.padding_class{
    padding-top: 120px;
    padding-left: 30px;
}

/* This padding is used for about me image */
#padding_id{
    padding-left: 100px; 
}

.recipies_item{
    box-shadow: 10px 10px 30px gray;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 15px;
}